<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container">
      <button id="editNoteButton" class="btn">Edit Note</button>
      <div id="editNote" class="hide card-panel hoverable">
        <div class="editNote">
          <% var url = '/notes/' + note.id %>
          <form id="edit" action=<%= url + '?_method=PUT' %> method="POST">
            <input type="text" name="title" id="title" value="<%= note.title %>" />
            <textarea name="description" id="description"><%= note.description %></textarea>
            <button id="cancelNoteEdit" class="btn" type="button">Cancel</button>
            <button id="saveNoteEdit" class="btn">Save</button>
          </form>
        </div>
      </div>
      <div id="noteDetails" class="note">
        <div class="noteTitle"><%= note.title %></div>
        <div class="noteDescription"><%= note.description %></div>
      </div>
    </div>
    <script src="../javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
